<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
	
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="index,follow">
	<meta name="keywords" content="brasil cafe, cafe mineiro, brafe, cafe">
	<meta name="description" content="Encontre aqui os mais deliciosos e autênticos cafés vindos diretamente de Minas Gerais">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
